@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .bg-yellow-animation {
        -webkit-animation: color-change-2x 2s linear infinite alternate both;
                animation: color-change-2x 2s linear infinite alternate both;
    }
}

@-webkit-keyframes color-change-2x {
    0% {
      background: #e3e661;
    }
    100% {
      background: #fdff6e;
    }
  }
  @keyframes color-change-2x {
    0% {
        background: #fdff6e;
    }
      100% {
        background: #e3e661;
    }
}
